<a href="https://colab.research.google.com/github/ikmalsyafiq/ECE-225A-Final-Project/blob/ikmal_EDA/Travel_insurance_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
uploaded=files.upload()

Saving TravelInsurancePrediction.csv to TravelInsurancePrediction.csv

In [5]:
import pandas as pd
data = pd.read_csv("TravelInsurancePrediction.csv")

In [6]:
data.shape

(1987, 10)

In [7]:
data.head()

   Unnamed: 0  Age  ... EverTravelledAbroad TravelInsurance
0           0   31  ...                  No               0
1           1   31  ...                  No               0
2           2   34  ...                  No               1
3           3   28  ...                  No               0
4           4   28  ...                  No               0

[5 rows x 10 columns]

In [9]:
data_encode = data.copy()
data_encode['GraduateOrNot'] = data_encode['GraduateOrNot'].map({'Yes': 1, 'No': 0})
data_encode['FrequentFlyer'] = data_encode['FrequentFlyer'].map({'Yes': 1, 'No': 0})
data_encode['EverTravelledAbroad'] = data_encode['EverTravelledAbroad'].map({'Yes': 1, 'No': 0})
data_encode['Employment Type'] = data_encode['Employment Type'].map({'Government Sector': 0, 'Private Sector/Self Employed': 1})
data_encode

      Unnamed: 0  Age  ...  EverTravelledAbroad  TravelInsurance
0              0   31  ...                    0                0
1              1   31  ...                    0                0
2              2   34  ...                    0                1
3              3   28  ...                    0                0
4              4   28  ...                    0                0
...          ...  ...  ...                  ...              ...
1982        1982   33  ...                    1                1
1983        1983   28  ...                    1                0
1984        1984   28  ...                    0                0
1985        1985   34  ...                    1                1
1986        1986   34  ...                    0                0

[1987 rows x 10 columns]

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
# Create feature and target arrays
X = data_encode.loc[:, data_encode.columns != 'TravelInsurance']
y = data_encode['TravelInsurance']
 
# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(
             X, y, test_size = 0.2, random_state=42)

logisticRegr = LogisticRegression(solver = 'lbfgs')
logisticRegr.fit(X_train, y_train)
logisticRegr.predict(X_test)
predictions = logisticRegr.predict(X_test)
score = logisticRegr.score(X_test, y_test)
print(score)

0.7462311557788944